<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RS Predict</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<div class="login">
    <div>

    </div>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}" method="post">
        <label>Brand</label>
        <hr>
        <input type="text" name="Brand" placeholder="Brand" required="required"/>
        <label>Task Type</label>
        <hr>
        <input type="text" name="Task_Type" placeholder="Task Type" required="required"/>
        <label>Unit</label>
        <hr>
        <input type="text" name="Unit" placeholder="Unit" required="required"/>
        <label>Subject</label>
        <hr>
        <input type="text" name="Subject" placeholder="Subject" required="required"/>
        <label>Account</label>
        <hr>
        <input type="text" name="Account" placeholder="Account" required="required"/>
        <label>Language_Pair</label>
        <hr>
        <input type="text" name="Language_Pair" placeholder="Language_Pair" required="required"/>
        <label>Rs_Plan</label>
        <hr>
        <input type="text" name="Rs_Plan" placeholder="Rs_Plan" required="required"/>
        <label>Tool</label>
        <hr>
        <input type="text" name="Tool" placeholder="Tool" required="required"/>
        <label>Unified Task Amount</label>
        <hr>
        <input type="number" name="unified_task_amount" step="0.01" placeholder="Unified Task Amount"
               required="required"/>
        <label>Date Stamp For {{ year }}</label>
        <hr>
        <input type="number" name="dateStamp_base" step="0.01" placeholder="Date Stamp For {{ year }}"
               required="required"/>
        <label>Duration</label>
        <hr>
        <input type="number" name="duration" step="0.01" placeholder="Duration" required="required"/>
        <label>RS Month</label>
        <hr>
        <input type="number" name="rs_month" placeholder="RS Month" required="required"/>
        <label>RS Month Day</label>
        <hr>
        <input type="number" name="rs_m_day" placeholder="RS Month Day" required="required"/>
        <label>Hour</label>
        <hr>
        <input type="number" name="hour" placeholder="Hour" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}
    <input id="value" name="value" disabled/>

</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</body>
<script>
    /*  $(function () {

          $('form').on('submit', function (e) {
              e.preventDefault();
              $.ajax({
                  type: 'POST',
                  contentType: 'application/json',
                  url: 'http://localhost:5000/api/predict',
                  data: $('form').serialize(),
                  success: function (data) {
                      document.getElementById('value').value = data.predict
                      console.log(data)
                  }
              });

          });

      });*/

</script>
</html>
